html{
    scroll-behavior: smooth;
}


.form-input{
    margin-right: 20px;
}

body{
    background-color: #FFA69E; 
    font-family: Georgia, Helvetica, sans-serif; 
    
}

#top{
    
    padding: 25px;
    background-color: #aa4465;
    display: inline-flex; 
    position: relative; 
    border-radius: 50px;
    
}




